@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --spacing-btn-h: 56px;
  --color-twitter-blue: #0D93F2;

  --color-title-primary: #ffffff;
  --color-bg-primary: #0B1120;
  --color-bg-secondary: #1D293D;
  --color-bg-tertiary: #162032;
  --color-border: #62748E;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #CBD5E1;
  --color-text-muted: #90A1B9;
  --color-text-register: #ffffff;
  --color-btn-Logout-primary-bg: #1D293D;
  --color-btn-Logout-primary-text: #ffffff;
}

@layer base {
  body {
    position: relative;
    background-color: var(--color-bg-primary);
    transition: background-color 300ms ease-in-out;
    @apply text-white antialiased;
    min-height: 100vh;
  }

  body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: linear-gradient(116.82deg, #0F172B 0%, #070B14 100%);
    opacity: 1;
    transition: opacity 300ms ease-in-out;
    pointer-events: none;
    z-index: 0;
  }

  html.light body::before {
    opacity: 0;
  }

  body > * {
    position: relative;
    z-index: 1;
  }

  html.light {
    --color-title-primary: #0D93F2;
    --color-bg-primary: #FAFAFA;
    --color-bg-secondary: #FFFFFF;
    --color-bg-tertiary: #E7ECF0;
    --color-border: #CFD9DE;
    --color-text-primary: #314158;
    --color-text-secondary: #3E4C59;
    --color-text-muted: #62748E;
    --color-text-register: #62748E;
    --color-btn-Logout-primary-bg: #0D93F2;
    --color-btn-Logout-primary-text: #ffffff;
  }

  *, *::before, *::after {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }

  body::before {
    transition: opacity 300ms ease-in-out;
  }

  main, .flex {
    @apply transition-[height,margin,padding,gap] duration-300 ease-in-out;
  }
}